*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

:root {
	/*project sizes*/
	--width-desktop: 1350px;
	--width-mobile: 991px;
	--width-tablet: 767px;
	--width-phone: 374px;

	/*interface*/
	--padding-navbar: 15px;
	--size-top-left-logo: 50px;
	--height-navbar: calc(var(--size-top-left-logo) + calc(var(--padding-navbar) * 2));

	/* colors*/
	--primary-color: #92272D;
	--main-font-color: #343642;
	--main-menu-font-color: #59595C;
	--main-header-first-color: var(--main-font-color);
	--main-header-second-color: var(--primary-color);
	--main-gradient: linear-gradient(90deg, rgba(89, 89, 92, 0.3) 0%, rgba(89, 89, 92, 0) 100%);

	/*used fonts*/
	--main-font: 'Open Sans', sans-serif;
	/* --serif-font: 'Lora', serif; */
	--serif-font: 'Merriweather', serif;

	/*font sizes*/
	--fontsize-base: 1rem;
	--fontsize-1: calc(var(--fontsize-base) * 3);
	/*48px*/
	--fontsize-2: calc(var(--fontsize-base) * 1.5);
	/*24px*/
	--fontsize-3: calc(var(--fontsize-base) * 1.125);
	/*18px*/
	--fontsize-4: calc(var(--fontsize-base) * 1);
	/*16px*/
	--fontsize-5: calc(var(--fontsize-base) * .875);
	/*14px*/
	--fontsize-6: calc(var(--fontsize-base) * .75);
	/*12px*/
	--fontsize-7: calc(var(--fontsize-base) * .625);
	/*10px*/

	/*line height*/
	--line-height-base: 1.5;
	--line-height-small: 1.2;
	--line-height-large: 1.8;

	/*margin padding*/
	--space-base: 10px;
	--space-gap: calc(var(--space-base) * 1.5);

	/**/

	/**/
}

body {
	color: var(--main-font-color);
	font-family: var(--main-font);
	font-size: var(--fontsize-5);
	line-height: var(--line-height-base);
}