.main-banner {
    background: url("/img/kancelariaMM_backgorund_first.jpg");
    height: 100vh;
    margin: 0 auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}

.main-banner__silhouette-container {
    position: relative;
    margin: 0 auto;
    max-width: var(--width-desktop);
    height: 100vh;
    /*-usunąć*/

    /* overflow: hidden; */
    /*ukrywanie sylwetki*/

}

.main-banner__silhouette-image {
    /* position: absolute; */
    margin-top: 40px;
    width: 800px;
    margin-left: -180px;
    filter: drop-shadow(0px -5px 15px rgba(0, 0, 10, .4));
    transition: .2s;
}

@media (max-width:991px) {
    .main-banner__silhouette-image {
        width: 650px;
    }
}

.top-description__background {
    background-color: var(--primaryColor);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: var(--height-navbar);
    /*height white navbar with global.css*/

}

.top-description__paragraphs {
    max-width: var(--width-desktop);
    padding: 30px 40px;

    font-family: var(--header-Font);
    font-size: var(--fontsize-2);
    text-align: center;
    color: white;
}

@media (max-width:991px) {
    .top-description__paragraphs {
        /* max-width: var(--width-mobile); */
        font-size: var(--fontsize-3);
        padding: 20px 30px;
    }

}

:root {
    /* Absolute position for hero header */
    --top-position: 50px;
    --left-position: 490px;
}

.main-banner__hero-header {
    position: absolute;
    top: var(--top-position);
    left: var(--left-position);
    transition: .2s;
}

.main-banner__hero-header-paragraphs {
    font-family: var(--header-Font);
    font-size: 65px;
    line-height: var(--line-height-small);
    font-weight: bold;
    transition: .2s;
}

.main-banner__hero-header-paragraphs--red {
    color: var(--main-Header-SecondColor);
}

@media (max-width: 991px) {
    .main-banner__hero-header-paragraphs {
        font-size: 45px;
    }

    .main-banner__hero-header {
        left: 390px;

    }
}

.main-banner__list-offer-container {
    position: absolute;
    max-width: 1900px;
    /* max-width: var(--width-desktop); */
    top: calc(var(--top-position) + 190px);
    left: var(--left-position);
}

.main-banner__list-offer {}

.main-banner__list-offer-items {
    list-style: none;
    font-family: var(--header-Font);
    font-weight: bold;
    font-size: var(--fontsize-2);
    /* padding: 5px 0; */
}

.main-banner__list-offer-link {
    color: var(--main-Header-FirstColor);
    background: var(--main-Gradient);
    text-decoration: none;

}

.main-banner__phone-bar-container {
    position: absolute;
    top: calc(var(--top-position) + 190px + 300px);
    left: calc(var(--left-position) + 150px);
}

.main-banner__phone-bar-container-background {
    /* position: absolute; */
    height: 60px;
    background-color: var(--main-Header-SecondColor);
    top: calc(var(--top-position) + 190px + 300px);
    left: calc(var(--left-position) + 150px);

}

.main-banner__phone-bar-phone-number {
    font-family: var(--header-Font);
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: var(--fontsize-1);
}