.main-navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: var(--padding-navbar);
    /*padding-navbar — interface — global.css*/
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, .25);
    z-index: 999;

}

.main-navigation__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: var(--width-desktop);
    margin: 0 auto;
}

.main-navigation__logo {
    display: flex;
    align-items: center;
}

.main-navigation__logo-link {
    margin-right: 15px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.main-navigation__menu {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: 0.3s;
    transition-property: opacity, transform;

}


@media (max-width: 991px) {
    .main-navigation__menu {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: black;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        opacity: 0;
        pointer-events: none;
        transform: translateY(-50%);
    }
}

@media (max-width: 991px) {
    .main-navigation__menu--open {
        opacity: 1;
        pointer-events: unset;
        transform: unset;
    }
}

.main-navigation__menu-item {
    margin-left: 40px;
    padding: 3px 0;
    border-bottom: 3px solid transparent;
    border-top: 3px solid transparent;
    transition-property: border-color;
    transition: .2s;


}

.main-navigation__menu-item-mobile-flex-icon {
    display: flex;
}

@media (max-width: 991px) {
    .main-navigation__menu-item {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
        /* margin-left: 0px; */
        padding: 25px;

    }

    .main-navigation__menu-item-mobile-flex-icon {
        display: flex;
        justify-content: center;
        align-items: center;

    }
}

.main-navigation__menu-item:hover {
    border-color: var(--primary-color);
    /* border-top: 3px solid var(--primary-color); */
}

@media (max-width: 991px) {
    .main-navigation__menu-item:hover {
        border-bottom: unset;
    }
}


.main-navigation__link {
    color: var(--main-menu-font-color);
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}


.main-navigation__logo-image {
    height: var(--size-top-left-logo);
}

.main-navigation__profession {
    font-family: var(--serif-font);
    font-size: var(--fontsize-4);
    color: var(--main-header-first-color);
    font-weight: bold;
    line-height: var(--line-height-small);

}

.main-navigation__profession--red {
    color: var(--main-header-second-color);
    font-size: var(--fontsize-3);
}

.main-navigation__mobile-button {
    display: none;
    /* width: 25px; */
}

@media (max-width: 991px) {
    .main-navigation__mobile-button {
        display: unset;
        background: none;
        border: unset;
        padding: 0;
    }
}

@media (max-width: 991px) {
    .main-navigation__mobile-button-image {
        width: 25px;
        display: block;
    }
}