.main-navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: var(--space-gap);
    background-color: white;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, .25);
    z-index: 1;

}

.main-navigation__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: var(--width-desktop);
    margin: 0 auto;
}

.main-navigation__logo-image {
    margin-right: var(--space-gap);
}

.main-navigation__logo {
    display: flex;
    align-items: center;
}

.main-navigation__logo-link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.main-navigation__menu {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;

}

.main-navigation__menu-item {
    margin-left: 40px;
    padding: 5px 0;
    height: 30px;
    background-color: #eeeeee;

}

.main-navigation__menu-item:hover {
    border-bottom: 3px solid var(--primaryColor);
}


.main-navigation__link {
    color: var(--main-Menu-Font-Color);
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}


.main-navigation__logo-image {
    width: 50px;
}

.profession {
    font-family: var(--header-Font);
    font-size: var(--fontsize-4);
    color: var(--main-Font-Color);
    font-weight: bold;
    line-height: var(--line-height-small);

}

.profession--red {
    color: var(--main-Header-SecondColor);
    font-size: var(--fontsize-3);
}

.main-navigation__mobile-button {
    display: none;
}