.social-icon {
    width: 16px;
}

.main-navigation__menu-item-mobile-flex-icon {
    margin-left: 80px;
}


@media (max-width: 991px) {
    .main-navigation__menu-item-mobile-flex-icon {
        margin-left: 0;
    }
}