.main-banner {
    background: url("../img/kancelariaMM_backgorund_first.jpg");
    margin: 0 auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width:414px) {
    .main-banner {
        // position: fixed;
        height: 800px;
    }

}

.top-description-competences__background {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: var(--height-navbar);
    /*height white navbar with global.css*/

}

.top-description-competences__paragraphs {
    max-width: var(--width-desktop);
    padding: 30px 40px;

    font-family: var(--serif-font);
    font-size: var(--fontsize-2);
    text-align: center;
    color: white;
}

@media (max-width:991px) {
    .top-description-competences__paragraphs {
        /* max-width: var(--width-mobile); */
        font-size: var(--fontsize-3);
        padding: 20px 30px;
    }

}

@media (max-width:414px) {
    .top-description-competences__paragraphs {
        font-size: var(--fontsize-5);
        padding: 20px 15px 10px;
    }

}

.main-banner__silhouette-container {
    position: relative;
    margin: 0 auto;
    max-width: var(--width-desktop);
}



@media (max-width:414px) {
    .main-banner__silhouette-container {
        // position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;

    }
}


.main-banner__silhouette-image {
    width: 700px;
    margin-top: 40px;
    margin-left: -180px;
    margin-bottom: -5px;

    object-fit: fill;

    filter: drop-shadow(0px -5px 15px rgba(0, 0, 10, .4));
    transition: .2s;
    z-index: 1;

    opacity: .92;
}

@media (max-width:991px) {
    .main-banner__silhouette-image {
        margin-left: -140px;
        width: 500px;
    }
}

@media (max-width:414px) {
    .main-banner__silhouette-image {
        margin-left: 0px;
        width: 200px;
        border-radius: 50%;
        background-color: var(--primary-color);

    }
}



:root {
    /* Absolute position for hero header */
    --top-position-hero-header: 50px;
    --left-position-hero-header: 490px;
}

.main-banner__hero-header {
    position: absolute;

    display: flex;
    flex-direction: column;

    top: calc(var(--top-position-hero-header) - 0px);
    left: var(--left-position-hero-header);
    transition: .2s;
    z-index: 50;
}

@media (max-width: 991px) {
    :root {
        --left-position: calc(var(--left-position-hero-header) - 250px);
    }

    .main-banner__hero-header {
        left: var(--left-position);


    }
}

@media (max-width: 414px) {

    .main-banner__hero-header {
        display: block;
        position: relative;
        left: 0;
        top: 20px;

    }

    .main-banner__hero-header-paragraphs {
        font-size: 25px;
        text-align: center;
    }
}

.main-banner__hero-header-paragraphs {
    text-align: left;
    color: var(--main-header-first-color);
    font-family: var(--serif-font);
    font-size: 65px;
    line-height: var(--line-height-small);
    font-weight: bold;
    transition: .2s;
}

.main-banner__hero-header-paragraphs--red {
    color: var(--main-header-second-color);
}

@media (max-width: 991px) {
    .main-banner__hero-header-paragraphs {
        /* font-size: var(-fontsize-5); */
        font-size: 45px;
    }

}

@media (max-width: 414px) {
    .main-banner__hero-header-paragraphs {
        font-size: 34px;
    }

}

.main-banner__list-offer-container {
    position: absolute;
    top: calc(var(--top-position-hero-header) + 185px);
    left: calc(var(--left-position-hero-header) + 30px);
    z-index: 0;

}

@media (max-width: 991px) {
    .main-banner__list-offer-container {
        transform: scale(.7);
        top: calc(var(--top-position-hero-header) + 65px);
        left: var(--left-position);
        column-count: 2;
        column-gap: 25px;
    }
}

@media (max-width: 414px) {
    .main-banner__list-offer-container {
        position: relative;
        top: -60px;
        left: 0;
        column-count: 1;
        // column-gap: 25px;
    }
}


.main-banner__list-offer-items {
    /* list-style: none; */
    list-style-position: outside;
    list-style-type: disc;

    color: var(--primary-color);
    margin: 8px 0 0 0;

    border-image-source: var(--main-gradient);
    border-width: 2px;
    border-style: solid;
    border-image-slice: 1;
    border-left: none;
    border-bottom: none;
    border-right: none;

    font-family: var(--serif-font);
    font-weight: bold;
    font-size: var(--fontsize-2);

    transition: .3s;
}

:root {
    --scale-hover: 1.1;

}

.main-banner__list-offer-items:hover {
    background: var(--main-gradient);
    margin-left: 15px;
    transform: scale(var(--scale-hover));
    /* scale: 1.2; */
    cursor: pointer;
    transform-origin: left;
    color: transparent;

}

@media (max-width: 414px) {
    .main-banner__list-offer-items:hover {
        transform: unset;
        margin-left: unset;
        background: unset;
        color: var(--primary-color);
        cursor: unset;
    }

}


.main-banner__list-offer-link {
    color: var(--main-menu-font-color);
    text-decoration: none;
    margin-left: 0px;
    transition: .5s;
    transition-property: color;

}



.main-banner__list-offer-items:hover .main-banner__list-offer-link {
    color: black;
}

@media (max-width: 414px) {

    .main-banner__list-offer-items:hover .main-banner__list-offer-link {
        color: var(--main-menu-font-color);
        // pointer-events: none;

    }
}


.main-banner__phone-bar-container {
    /* position: relative; */
    column-span: all;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
    margin-left: -50px;
    /* top: calc(var(--top-position-hero-header) + 190px + 300px); */

    background-color: var(--main-header-second-color);
    transition: .3s;
}


.main-banner__phone-bar-container:hover .main-banner__phone-bar-phone-number {
    transform: scale(1.2) translateX(50px);

}

.main-banner__phone-bar-phone-number {
    font-family: var(--serif-font);
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: var(--fontsize-1);
    transition: .3s;
}

@media (max-width: 414px) {
    .main-banner__phone-bar-container {
        margin-top: 30px;
        margin-left: -50px;
        margin-right: -50px;
    }

    .main-banner__phone-bar-phone-number {
        font-size: 34px;
        margin: 0;
        padding: 10px;

    }

    .main-banner__phone-bar-container:hover .main-banner__phone-bar-phone-number {
        transform: unset;

    }
}